.play-container {
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}

.play-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.play-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.916579131652661) 1%, rgba(252, 255, 255, 0) 100%);
}

.play-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}

.tags span {
    background: var(--container-color);
    padding: 2px 5px;
    border-radius: .5rem;
}

.play-movie {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: 24px;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 58, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }

    80% {
        box-shadow: 0 0 0 rgba(255, 193, 7, 0);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 193, 7, 0);
    }
}

/* Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}

.video-container.show-video {
    display: flex;
}

.video-box {
    position: relative;
    width: 82%;
}

.video-box #myvideo {
    width: 100%;
    aspect-ratio: 16/9;
}

.close-video {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 40px;
    color: var(--main-color);
}

/* About movie */
.rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.like,.dislike{
    display: flex;
    justify-content: center;
    gap: .4rem;
    align-items: center;
}
.rating .bx{
    font-size: 1.78rem;
}
.rating p{
    font-size: 2.5rem;
}
.about-movie {
    margin-top: 2rem;
}

.about-movie h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}

.about-movie p{
    max-width: 800px;
    font-size: 0.938rem;
    margin: 10px 0;
}

.download{
    max-width: 800px;
    /* width: 1005; */
    margin: auto;
    /* display: grid; */
    justify-content: center;
    margin-top: 2rem;
}
.download-title{
    text-align: center;
    font-size: 1.4rem;
    font-family: 500;
    margin: 1.6rem 0;
    color: var(--main-color);
}
.download-links{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
}
.download-links a{
    text-align: center;
    background: var(--main-color);
    padding: 12px 24px;
    color: var(--body-color);
    letter-spacing: 1px;
    font-weight: 500;
}
.download-links a:hover{
    background: var(--hover-color);
}

/* Responsive */
@media screen and (max-width: 888px) {
    .play-container{
        min-height: 440px;
        margin-top: 4rem !important;
    }
    .play-movie{
        bottom: 14rem;
        right: 4rem;
    }
}

/* for medium devices /  tablets */
@media screen and (max-width: 768px){
    .tags span,
    .about-movie p{
        font-size: 0.857rem;
    }
    p{
        font-size: 0.857rem;
    }
    .play-text h2, .about-movie h2{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 514px){
    .play-text{
        padding: 20px;
    }
    .play-movie{
        bottom: 4rem;
    }
    .video-box{
        width: 94%;
    }
}

@media screen and (max-width: 408px) {
    .play-container{
        margin-top: 7rem !important;
    }
}

/* For Small Devices */
@media screen and (max-width:370px) {
    .about-movie p{
        text-align: justify;
    }
}